{% macro displayNewsList(news_list) %}
<ul>
    {% for source in news_list %}


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{source.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    <li>{{source.name}}</li>
    <a class="btn btn-primary"  href="/news/{{source.source_id}}">{{source.source_id}}</a> 
     
    {% endfor %}
    {% endmacro%}
</ul>

