{% extends 'base.html'%}
    <!-- Navbar block  -->
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    <hr>
    {% block content %}
        <div class="container mt-5">
            {%for articles in source_articles %}
                <div class="card m-3 p-3 shadow">
                    <img src="{{articles.urlToImage}}" class="img-fluid myimages" alt = "{{articles.title}}">
                    <h3>News: {{articles.new}}</h3>
                    <h4>Description: {{articles.description}}</h4> 
                    <h4>Publish At: {{articles.publishedAt}}</h4>
                    <div class="text-center">
                            <a href="{{articles.url}}" type="button" class="btn btn-outline-primary" target="_blank">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {%endblock%}
            